
.vjs-poster {
    background-size: cover !important;
    border-radius: 5px !important;

}
.video-js[tabindex="-1"] {
    border-radius: 5px !important;
}
.my-player-dimensions {
    width: 100% !important;
    height: 380px !important;
}
.video-js .vjs-play-control .vjs-icon-placeholder:before, .vjs-icon-play:before {
    content: "" !important;
    background-image: url('../img/play.svg') !important;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 55% calc(50% - 3px) !important;
    border: none !important;
    box-shadow: none !important;

}
.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before, .vjs-icon-pause:before {
    content: "";
    background-image: url('../img/pause.svg') !important;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 55% calc(50% - 3px);
    border: none !important;
    box-shadow: none !important;
}
.video-js .vjs-control:focus, .video-js .vjs-control:focus:before, .video-js .vjs-control:hover:before {
    text-shadow: none !important;
}
.video-js .vjs-mute-control .vjs-icon-placeholder:before, .vjs-icon-volume-high:before ,.video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before, .vjs-icon-volume-mute:before{
    border: none !important;
    box-shadow: none !important;
    font-size: 25px !important;
}
.vjs-hover .vjs-mute-control~.vjs-volume-control.vjs-volume-horizontal, .video-js .vjs-volume-panel.vjs-hover .vjs-volume-control.vjs-volume-horizontal, .video-js .vjs-volume-panel:active .vjs-volume-control.vjs-volume-horizontal, .video-js .vjs-volume-panel:focus .vjs-volume-control.vjs-volume-horizontal {
    width:7em !important;
    height: 3em !important;
    margin-left: -3px !important;
}
.vjs-volume-bar.vjs-slider-horizontal {
    width: 7em !important;
    height: .6em !important;
    border-radius: 45px !important;
}
.vjs-volume-bar.vjs-slider-horizontal .vjs-volume-level {
    border-radius: 45px !important;
}
.vjs-slider-horizontal .vjs-volume-level {
    height: .6em !important;
}
.video-js .vjs-volume-level:before {
    font-size: 1.1em !important;
}
.vjs-slider-horizontal .vjs-volume-level:before {
    top: -.19em !important;

}
.video-js .vjs-progress-control {
    cursor: pointer;
    display: block !important;
    width: 99% !important;
    touch-action: none;
    position: absolute !important;
    height: 5px !important;
    margin-top: -12px !important;
    /* background-color: rgba(0,0,0,0.7); */
}
.video-js .vjs-control {
    position: relative;
    margin: auto;
    /* padding: 0 0 10px !important;s */
    height: 100%;
    width: 4em;

}
.video-js .vjs-progress-control .vjs-progress-holder {
    margin: 0 !important;
}
.video-js .vjs-control-bar {
    height:6em !important;
    background-color: rgba(0,0,0,0.6) !important;
    border-radius: 0 0 5px 5px !important;
    padding: 10px 0 0 !important;
    justify-content: center;
}
.video-js .vjs-play-progress:before {
    font-size: 1em !important;
    position: absolute;
    /* right: -.9em !important; */
    top: -.32em !important;
    z-index: 1;
    color: #FFBA00 !important;

}
.video-js .vjs-time-control {
    flex: none;
    font-size: 1.5em !important;
    line-height: 2em !important;
    min-width: 2em;
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
}
.vjs-button>.vjs-icon-placeholder:before {
    font-size: 1.8em;
    line-height: 1.3em !important;
}
.video-js .vjs-volume-panel .vjs-volume-control {
    margin-left: -8px !important;

}
.video-js .vjs-picture-in-picture-control .vjs-icon-placeholder:before, .vjs-icon-picture-in-picture-enter:before {
    content: "" !important;
    background-image: url('../img/Pic_in_pic.svg') !important;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 55% calc(50% - 5px);
    border: none !important;
    box-shadow: none !important;
}
.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before, .vjs-icon-fullscreen-enter:before {
    content: "" !important;
    background-image: url('../img/Fullscreen.svg') !important;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 55% calc(50% - 5px);
    border: none !important;
    box-shadow: none !important;

}

.vjs-playback-rate.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button {
    margin-left: auto !important;
    margin-top: 2px !important;
    font-size: 11px !important;
}
.video-js .vjs-seek-button.skip-back.skip-10::before, .video-js.vjs-v6 .vjs-seek-button.skip-back.skip-10 .vjs-icon-placeholder::before, .video-js.vjs-v7 .vjs-seek-button.skip-back.skip-10 .vjs-icon-placeholder::before {
    content: "" !important;
    background-image: url('../img/rewind.svg') !important;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 55% calc(50% - 5px);
    border: none !important;
    box-shadow: none !important;
}

.video-js .vjs-seek-button.skip-forward.skip-10::before, .video-js.vjs-v6 .vjs-seek-button.skip-forward.skip-10 .vjs-icon-placeholder::before, .video-js.vjs-v7 .vjs-seek-button.skip-forward.skip-10 .vjs-icon-placeholder::before {
    content: "" !important;
    background-image: url('../img/fast-forward.svg') !important;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 55% calc(50% - 5px);
    border: none !important;
    box-shadow: none !important;
}

.theater::before {
    content: "" !important;
    background-image: url('../img/Wide.svg') !important;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 55% calc(50% - 5px);
    border: none !important;
    box-shadow: none !important;
    display: inline-block;
    width: 30px;
    height: 25px;
}

.video-js .vjs-slider:focus {
    text-shadow:none !important; 
    box-shadow: none !important;
}
.vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal {
    margin-top: 5px !important;
}

.vjs-remaining-time.vjs-time-control.vjs-control {
    margin: 7px 0 0 5px !important;
}
video#my-video_html5_api {
    border-radius: 5px !important;
}

.vjs-playback-rate .vjs-playback-rate-value, .vjs-playback-rate>.vjs-menu-button {
    top: 3px !important;

}
.share {
    z-index: 99999;
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid #fff !important;
    border-radius: 7px;
    cursor: pointer;
}

.share::before {
    content: "" !important;
    background-image: url('../img/Share.svg') !important;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 55% calc(50% - -1px);
    border: none !important;
    box-shadow: none !important;
    display: inline-block;
    width: 40px;
    height: 25px;
}
.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar, .vjs-has-started.vjs-user-inactive.vjs-playing .share {
    visibility: visible;
    opacity: 0;
    transition: visibility 1s,opacity 1s;
}
.vjs-has-started .vjs-control-bar, .vjs-has-started .share {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: visibility .1s,opacity .1s;
}
.wide {
    margin-right: 15px !important;
}
.vjs-play-control.vjs-control.vjs-button.vjs-paused , .vjs-play-control.vjs-control.vjs-button.vjs-playing {
    margin-left: 10px;
}
.shadowAll {
    z-index: 99;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.shadowAll span::before {
    font-size: 2rem;
    padding: 0 5px;
    cursor: pointer;
}
#my-video.out {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    z-index: 999;
    animation: an 0.5s;
  }
  
#my-video.in { animation: ac 1s; }


@media only screen and (max-width: 587px) {
    .my-player-dimensions {
        width: 100% !important;
        height: 180px !important;
    }
    .skip-forward,.skip-back,.wide,.vjs-picture-in-picture-control.vjs-control.vjs-button {
        display: none !important;
    } 

    .video-js:not(.vjs-fullscreen).vjs-layout-small .vjs-volume-control,
   .video-js:not(.vjs-fullscreen).vjs-layout-small .vjs-volume-control,
   .video-js:not(.vjs-fullscreen).vjs-layout-x-small .vjs-volume-control,
   .video-js:not(.vjs-fullscreen).vjs-layout-small .vjs-playback-rate,
   .video-js:not(.vjs-fullscreen).vjs-layout-small .vjs-playback-rate,
   .video-js:not(.vjs-fullscreen).vjs-layout-x-small .vjs-playback-rate
    {
       display: flex !important;
    }
   .video-js .vjs-control-bar {
    height:4.5em !important;
    padding: 0 !important;
    }
    .video-js .vjs-progress-control {
        margin-top: 0px !important;
        /* background-color: rgba(0,0,0,0.7); */
    }
    .video-js .vjs-play-control .vjs-icon-placeholder:before, .vjs-icon-play:before {
        background-position: 55% calc(50% - -1px) !important;
        background-size: 20px !important;

    
    }
    .video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before, .vjs-icon-pause:before {
        background-position: 55% calc(50% - 1px);
        background-size: 20px !important;
    }
    .video-js .vjs-mute-control .vjs-icon-placeholder:before, .vjs-icon-volume-high:before, .video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before, .vjs-icon-volume-mute:before {

        font-size: 22px !important;
    }
    .vjs-remaining-time.vjs-time-control.vjs-control {
        margin: 8.5px 0 0 5px !important;
    }
    .vjs-playback-rate .vjs-playback-rate-value, .vjs-playback-rate>.vjs-menu-button {
        top: 4px !important;
    }
    .video-js .vjs-fullscreen-control .vjs-icon-placeholder:before, .vjs-icon-fullscreen-enter:before {
        background-position: 55% calc(50% - -1px) !important;
        background-size: 26px;
    }
    .vjs-fullscreen-control.vjs-control.vjs-button {
        margin-right: 15px !important;
    }
    .vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal {
        margin-top: 9.5px !important;
    }
    .video-js .vjs-volume-bar {
        margin: 1.1em .45em !important;
    }
    .share::before {
        background-size:25px !important;
        width: 30px;
        height: 21px;
    }
    
}
